ul{margin: 0;padding: 0;list-style: none;}
#box{width: 343px;height: 480px;background: url("../img/bg.jpg");margin: 100px auto 0;position: relative;user-select: none;}
/*user-select: none;不允许用户选择*/
#scoreBoard{width: 100%;position: absolute;top: 20px;text-align: center;}
@keyframes head {
    0%{top: 80px}
    50%{top: 120px}
    100%{top: 80px}
}

#header{width: 100%;position: absolute;top: 80px;animation: head 2s linear infinite}
#header>img{position: absolute;right: 40px;}
#header>div{position: absolute;right: 40px;top: 20px;background: url("../img/bird1.png") no-repeat;}
@keyframes wings {
    0%{opacity: 1}
    100%{opacity: 0}
}
#header>div>img{animation: wings 1s linear infinite;}
#start{position: absolute;left: 130px;top: 330px;}
@keyframes slider {
    from{left:0}
    to{left:-343px}
}
#slider{position: absolute;top: 422px;left: 0;animation: slider 3s linear infinite;width: 999px}
#slider>img{float: left}
#flyBird{position: absolute;left: 40px;top: 100px;display: none}
#pipeBox{width: 100%;height: 422px;position: absolute;left: 0;top: 0;}
#pipeBox>li{position: absolute;left: 400px;height: 100%;width: 62px;top: 0;}
.topPipe{width: 100%;height: 150px;background: url("../img/up_mod.png");position: absolute;top: 0;}
.topPipe>img{position: absolute;bottom: 0;}
.bottomPipe{width: 100%;height: 150px;background: url("../img/down_mod.png");position: absolute;bottom: 0;}